<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created to master node app deployment</p>
      <img class="portrait" src="/img/happyLlama.png" alt="avatar">
      <p>{{ name }}</p>
    </div>
    {{>footer}}
  </body>
</html>
